node_modules
.next
out
*.tsbuildinfo
next-env.d.ts

# base de datos local y fotos subidas
prisma/*.db
prisma/*.db-journal
prisma/stock-backups/
public/uploads/*
!public/uploads/.gitkeep

.env
.env*.local
.DS_Store
